!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Thanks for sending us message #{@user.first_name} #{@user.last_name}!
    %p
      We will get back to you soon.